<div class="row justify-content-center">
  <div class="col-md-12 col-sm-4 d-flex align-items-center justify-content-center">
    <app-header></app-header>
  </div>
</div>
<div class="row justify-content-center search-add-row">
  <div class="col-md-6 col-sm-4 d-flex align-items-center justify-content-center search-add-col">
    <app-search-component></app-search-component>
  </div>
  <div class="col-md-6 col-sm-4 d-flex align-items-center justify-content-center search-add-col">
    <app-add-employee-component></app-add-employee-component>
  </div>
</div>
<div class="row justify-content-center employee-info-row">
  <div class="col-md-12 col-sm-6 d-flex align-items-center justify-content-center employee-info-col">
    <app-all-employee-details></app-all-employee-details>
  </div>
</div>
